/*reset style */
*
{
padding: 0;
margin: 0;
font-family: "Open Sans", sans-serif;
}

img
{
   max-width: 100%;
}

/*common style*/
.common-button
{
   background-color: #FD6E0A ;
   padding: 10px 20px;
   border-radius: 12px;
   font-weight: bold;
   font-size: 22px;
   color: white;
   border: none;
   cursor:pointer;
}

.outline-button
{
   background-color: white;
   padding: 10px 20px;
   border-radius: 12px;
   font-weight: bold;
   font-size: 22px;
   color: #FD6E0A ;
   border: 1px solid #FD6E0A;
   cursor:pointer;
}

.container
{
    max-width: 1200px;
    margin:auto
}

nav{

    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
}

.logo
{
    font-weight: bold;
    font-size: 32px;
}

.logo-r
{
    color: #FD6E0A ;
}


ul
{
    display: flex;
     justify-content: space-between;
     list-style-type: none;
     gap: 50px;
     font-size: 20px;
     font-weight: 400;
     text-decoration: none;
     align-items: center;
}


ul li a
{
     text-decoration: none ;
     color:#474747;
}

/*hero section style*/
.hero-parent-root
{
    background-color: #cabaaf;
}
.hero-parent
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-left-p1
{
    font-size: 28px ;
    font-weight: 600;
}

.hero-left h2 /*etate nested selector bole karon (kono ekta class er vitore areakta element access korchi)*/
{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 12px;

}

.hero-left-button-parent
{
    margin-top: 12px;
}

/*about us css*/
.about-parent
{
    background-color: #f5e8e0;
    margin: 70px auto;
    border-radius: 10px;
    padding: 75px;
    text-align: center;
}

.about-parent p
{
    margin: 20px 0;
}

.about-box-parent
{
    display: flex;
    justify-content:space-between;
    gap: 8px;
}

.about-box-parent .box 
{
    background-color: #f8eae0;
    padding: 5px;
    border-radius: 5px;
}

/*what i do section css*/
.what-i-do-parent
{
    margin: 60px auto;
    text-align: center;
}

.what-i-do-card-container
{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 8px;

}

.what-i-do-card-container .what-i-do-card
{
    padding: 8px;
    border-radius: 10px;
    text-align: left;
}

.what-i-do-card-container .what-i-do-card h2
{
   margin: 10px, 0;
}

.what-i-do-card-container .what-i-do-card p 
{
  color: #757575 ;
  font-size: 15px;
}

/*amazing work section style */
.my-amazing-parent
{
    text-align: center;
}

.gallery
{
    margin-top: 20px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-template-areas:
    "two one four"
    "three one five"
    "three  six  five";
}

.gallery img 
{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.box-1
{
    grid-area: one;
}

.box-2
{
    grid-area: two;
}
.box-3
{
    grid-area: three;
}
.box-4
{
    grid-area: four;
}
.box-5
{
    grid-area:five ;
}
.box-6
{
    grid-area: six;
}
